@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html,
body {
  padding: 0;
  background: '#F8CC5D';
  background-color: '#F8CC5D';
  color: '#F8CC5D';
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: '#F8CC5D';
    background-color: '#F8CC5D';
    background: '#F8CC5D';
  }
}
